<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/profile.js"></script> 
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes" style="display: none;">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="heart">
        <div class="profile-container">
            <div class="profile-header">
                <h2>{{ user[0] }}'s Profile</h2>
            </div>
            <div class="profile-details">
                {% if user %}
                <div>
                    <p> User ID: {{ uid }}</p>
                </div>
                <p> 
                    
                    
                    <span><img src="{{ url_for('static', filename='images/person.png') }}" alt="Image"> Name: {{ user[0] }}</span>
                    <button class="edit-button" onclick="edit_name({{ uid }})">Edit</button>
                  
                    
                </p>
                <p>
                    <span><img src="{{ url_for('static', filename='images/email.png') }}" alt="Image"> Email: {{ user[1] }}</span>
                </p>
                <p>
                    <span><img src="{{ url_for('static', filename='images/gender.png') }}" alt="Image"> Gender: {{ user[2] }}</span>
                    <button class="edit-button" onclick="edit_gender({{uid}})">Edit</button>
                </p>
                <p>
                    <span><img src="{{ url_for('static', filename='images/location.png') }}" alt="Image"> Zip Code (U.S. only): {{ user[3] }}</span>
                    <button class="edit-button" onclick="edit_location({{uid}})">Edit</button>
                </p>
                <p>
                    <span><img src="{{ url_for('static', filename='images/age.png') }}" alt="Image"> Age: {{ user[4] }}</span>
                    <button class="edit-button" onclick="edit_age({{uid}}) ">Edit</button>
                </p>
                {% else %}
                <p>No user information available.</p>
                {% endif %}
                
                {% if interests %}
                <p>
                    <span><img src="{{ url_for('static', filename='images/interests.png') }}" alt="Image"> 
                    My Interests:
                    <button class="edit-button" onclick="add_interest({{ uid }})">Add</button>
                </p>
                
                <ul>
                    {% for interest in interests %}
                        <li>{{ interest }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                
                <p>Don't have any interests recorded yet.</p>
                <button  onclick="add_interest({{ uid }})">Add the first interest</button>
                
                {% endif %}
                
            </div>
            <div class="profile-actions">
                <button onclick="match({{ uid }})">New Match</button>
                <button onclick="setting({{ uid }})">Preferences</button>
                <button onclick="view_liked({{ uid }})">Liked</button>
                <button onclick="view_unliked({{ uid }})">Disliked</button>
                <button onclick="view_mutual_liked({{ uid }})">Matches</button>
     
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <form id="delete-form" action="{{ url_for('delete_user', uid=uid) }}" method="post" onsubmit="return confirmDelete()">
                    <button type="submit" class="delete-button">Delete User</button>
                </form>
                <button class="delete-button" onclick="back({{ uid }})">Log out</button>
            </div>
    
            <script>
                function confirmDelete() {
                    return confirm('Are you sure you want to delete this user? This action cannot be undone.');
                }
            </script>
        </div>
    </div>

    <script>
        window.onload = function() {
            var messages = {{ get_flashed_messages(with_categories=true)|tojson }};
            messages.forEach(function(message) {
                alert(message[1]); 
            });
        };
    </script>
</body>
</html>
