<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join the Puzzle!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <h2>Join the Puzzle!</h2>
        </div>
        <div id="flash-message" class="flash-message"></div>
        <form action="/create_user" method="post">
            <div class="profile-details">
                <p>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required class="input-field">
                </p>
                <p>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required class="input-field">
                </p>
                <p>
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" class="input-field">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </p>
                <p>
                    <label for="location">Zip Code:</label>
                    <input type="text" id="location" name="location" required class="input-field">
                </p>
                <p>
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" required class="input-field">
                </p>
                <p>
                    <label for="interest">Interest:</label>
                    <div class="interests-container">
                        <button type="button" class="interest-button" data-interest="Action & Adventure" onclick="toggleInterest(this)">Action & Adventure</button>
                        <button type="button" class="interest-button" data-interest="Comedy" onclick="toggleInterest(this)">Comedy</button>
                        <button type="button" class="interest-button" data-interest="Documentary" onclick="toggleInterest(this)">Documentary</button>
                        <button type="button" class="interest-button" data-interest="Drama" onclick="toggleInterest(this)">Drama</button>
                        <button type="button" class="interest-button" data-interest="Horror" onclick="toggleInterest(this)">Horror</button>
                        <button type="button" class="interest-button" data-interest="Lifestyle & Entertainment" onclick="toggleInterest(this)">Lifestyle & Entertainment</button>
                        <button type="button" class="interest-button" data-interest="Reality TV" onclick="toggleInterest(this)">Reality TV</button>
                        <button type="button" class="interest-button" data-interest="Science Fiction & Fantasy" onclick="toggleInterest(this)">Science Fiction & Fantasy</button>
                        <button type="button" class="interest-button" data-interest="Thriller & True Crime" onclick="toggleInterest(this)">Thriller & True Crime</button>
                        <button type="button" class="interest-button" data-interest="Historical & Period Drama" onclick="toggleInterest(this)">Historical & Period Drama</button>
                        <button type="button" class="interest-button" data-interest="Animated" onclick="toggleInterest(this)">Animated</button>
                    </div>
                    <input type="hidden" id="interests" name="interests">
                </p>
            </div>
            
            <div class="profile-actions">
                <button type="submit">Join</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>
