body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff8383;
}

.profile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 600px;  
    padding: 20px;
}

.profile-header {
    color: #ff8383;
    padding: 10px 10px;
    position: relative;
    font-weight: bold;
}

.profile-header img {
    border-radius: 50%;
    border: 3px solid #ff8383;
    width: 80px;
    height: 80px;
}

.profile-header h2 {
    margin-top: 10px;
    font-size: 20px;
}

.profile-details {
    padding: 10px 20px 20px;
    text-align: left;
}

.profile-details p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
}

.profile-details p {
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    position: relative;  
    margin: 10px 0;
    font-size: 14px;
}

.edit-button {
    font-size: 10px;
    color: #c5c5c5;  
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;  
    right: 0;  
}


.edit-button:hover {
    color: #7e7c7c;  
}

.delete-button {
    font-size: 14px;
    color: #ff8340; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.delete-button:hover {
    color: #555;  
}

.profile-actions {
    padding: 10px 0;
    text-align: left; 
}

.profile-actions button {
    background-color: #ff8383;
    border: 1px solid #ff8383;
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.profile-actions button:hover {
    background-color: red;
}

.profile-details p img {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
    vertical-align: middle;  
}

.flash-message {
    display: none; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #d4edda; 
    color: #155724; 
    font-size: 16px;
}
